[Unit]
Description=Our TED Search Application's start service
After=network.target

[Service]
Type=simple
{# # Another Type: forking #}
User=ubuntu
WorkingDirectory=/app

ExecStart=/usr/bin/java -jar {%- for file in lookup('fileglob', 'files/app/*.jar', wantlist=True) -%}{{ ' /app/' + (file | basename) }} {% endfor %} --spring.config.location={%- for file in lookup('fileglob', 'templates/*.properties.j2', wantlist=True) -%}{{ '/app/' + (file | basename | regex_replace('\\.j2')) }}{% endfor %}


Restart=always
{# # Other restart options: always, on-abort, on-failure, etc #}

# The install section is needed to use
# `systemctl enable` to start on boot
# For a user service that you want to enable
# and start automatically, use `default.target`
# For system level services, use `multi-user.target`
[Install]
WantedBy=multi-user.target